In [43]:
import pandas as pd

import ast #для безопасного преобразования строки в список с помощью функции literal_eval()
import json

In [93]:
df_full = pd.read_csv("data/init_data.csv")
df_full.head(2)

C:\Users\glaz\AppData\Local\Temp\ipykernel_17116\263171808.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_full = pd.read_csv("data/init_data.csv")

,addOkved,address,chiefs,dateLiquid,dateOgrn,dateReg,email,fullName,inn,kpp,...,okato,okfs,okogu,oktmo,socialMedia,opfType,reports,incomeTotal,incomeDetail,incomeRank
0,"[{'code': '72.4', 'name': 'Деятельность по соз...","422430, РЕСПУБЛИКА ТАТАРСТАН, ГОРОД БУИНСК, УЛ...","[{'name': 'ХАЛИКОВ РАШИТ РИНАТОВИЧ', 'title': ...",{'$date': '2012-12-17T00:00:00.000Z'},{'$date': '2010-03-03T00:00:00.000Z'},NaN,NaN,"НЕКОММЕРЧЕСКОЕ ПАРТНЕРСТВО ""ИНФОРМАЦИОННО-КОНС...",1.614010e+09,161401001.0,...,"{'code': None, 'name': None}","{'code': None, 'name': None}","{'code': None, 'name': None}","{'code': None, 'name': None}","{'facebook': None, 'instagram': None, 'ok': No...",Некоммерческие партнерства,[],0.0,"{'grants': {'totalCount': 0, 'totalSum': 0}, '...",Наличие доходов из доступных источников не уст...
1,"[{'code': '67.20.2', 'name': 'Деятельность спе...","430030, РЕСПУБЛИКА МОРДОВИЯ, ГОРОД САРАНСК, УЛ...","[{'name': 'ПУЗАНОВ ВЛАДИМИР ВЛАДИМИРОВИЧ', 'ti...",{'$date': '2014-11-10T00:00:00.000Z'},{'$date': '2010-05-11T00:00:00.000Z'},NaN,NaN,"НЕКОММЕРЧЕСКОЕ ПАРТНЕРСТВО ""МЕЖРЕГИОНАЛЬНЫЙ НА...",1.327011e+09,132701001.0,...,"{'code': None, 'name': None}","{'code': None, 'name': None}","{'code': None, 'name': None}","{'code': None, 'name': None}","{'facebook': None, 'instagram': None, 'ok': No...",Некоммерческие партнерства,"[{'type': 'Заявление', 'reportId': '19445801',...",0.0,"{'grants': {'totalCount': 0, 'totalSum': 0}, '...",Наличие доходов из доступных источников не уст...

In [3]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752072 entries, 0 to 752071
Data columns (total 40 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   addOkved            752072 non-null  object
 1   address             752072 non-null  object
 2   chiefs              752072 non-null  object
 3   dateLiquid          406460 non-null  object
 4   dateOgrn            752072 non-null  object
 5   dateReg             321581 non-null  object
 6   email               11086 non-null   object
 7   fullName            752072 non-null  object
 8   inn                 749468 non-null  float64
 9   kpp                 748411 non-null  float64
 10  mainOkved           752072 non-null  object
 11  ogrn                752072 non-null  int64
 12  opf                 752072 non-null  object
 13  predecessors        752072 non-null  object
 14  shortName           602778 non-null  object
 15  statusInfo          752072 non-null  object
 16  successors          752072 non-null  object
 17  egrulStatus         752072 non-null  object
 18  statusDetail        752072 non-null  object
 19  foundersConfig      271348 non-null  object
 20  regionCode          752072 non-null  int64
 21  regionName          752047 non-null  object
 22  originDate          752072 non-null  object
 23  minjustForm         465075 non-null  object
 24  minjustStatus       466577 non-null  object
 25  minjustRegNum       466323 non-null  object
 26  okpo                345378 non-null  float64
 27  hasRegionalSupport  0 non-null       float64
 28  website             5287 non-null    object
 29  website_punycode    5287 non-null    object
 30  okato               752072 non-null  object
 31  okfs                752072 non-null  object
 32  okogu               752072 non-null  object
 33  oktmo               752072 non-null  object
 34  socialMedia         752072 non-null  object
 35  opfType             752072 non-null  object
 36  reports             752072 non-null  object
 37  incomeTotal         752072 non-null  float64
 38  incomeDetail        752072 non-null  object
 39  incomeRank          752072 non-null  object
dtypes: float64(5), int64(2), object(33)
memory usage: 229.5+ MB

In [84]:
df_full['incomeTotal']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
752067    0.0
752068    0.0
752069    0.0
752070    0.0
752071    0.0
Name: incomeTotal, Length: 752072, dtype: float64

In [105]:
df = df_full.copy()

dt_list = '{"grants":{"totalCount":0,"totalSum":0},"fedSubsidies":{"totalCount":0,"totalSum":0},"contracts44":{"totalCount":0,"totalSum":0},"contracts94":{"totalCount":0,"totalSum":0},"contracts223":{"totalCount":0,"totalSum":0}}'

# Создаем функцию для обрамления значений апострофами
#def add_kovychki(value):
#    value = value.replace("'", "\"")
#    return value

# Удаление апострофов из значений в столбце 'okato'
#df['incomeDetail'] = df['incomeDetail'].apply(add_kovychki)

# Создаем функцию для обрамления значений апострофами
#def add_space(value):
#    value = value.replace(" ", "")
#    return value

# Удаление апострофов из значений в столбце 'okato'
#df['incomeDetail'] = df['incomeDetail'].apply(add_space)

# Создаем функцию для обрамления значений апострофами
#def add_apostrophes(value):
#    return f"'{value}'"

# Применяем функцию к столбцу "incomeDetail" и сохраняем результат в новом столбце "incomeDetailModified"
#df['incomeDetail'] = df['incomeDetail'].apply(add_apostrophes)

# Создаем функцию для вычисления суммы totalSum
#def calculate_total_sum(row):
#    income_detail = json.loads(row)
#    total_sum = sum([value["totalSum"] for value in income_detail.values()])
#    return total_sum

# Применяем функцию к столбцу incomeDetail и сохраняем результат в столбец totalSumFloat
#df_full['totalSumFloat'] = df_full['incomeDetail'].apply(calculate_total_sum).astype(float)

#df[(df['incomeDetail'].isin(dt_list))][['incomeDetail']]
#df[(df['incomeDetail'] != dt_list)][['incomeDetail','ogrn']]

#def calculate_total_sum(json_string):
    # Преобразование JSON-строки в словарь
#    income_detail_dict = eval(json_string)

    # Вычисление суммы totalSum значений
#    total_sum = sum(value['totalSum'] for value in income_detail_dict.values())

    # Преобразование результата в строку JSON
#    total_sum_dict = {'totalSum': total_sum}
#    total_sum_json = str(total_sum_dict)

#    return total_sum_json

#df['incomeDetail'] = df['incomeDetail'].apply(calculate_total_sum)

# Функция для вычисления суммы totalSum для "grants" и "fedSubsidies"
def calculate_total_sum_Grant(json_string):
    try:
        # Преобразование JSON-строки в словарь
        #income_detail_dict = json.loads(json_string)
        income_detail_dict = eval(json_string)

        # Получение значений totalSum для "grants" и "fedSubsidies"
        grants_total_sum = income_detail_dict.get("grants", {}).get("totalSum", 0)
        fed_subsidies_total_sum = income_detail_dict.get("fedSubsidies", {}).get("totalSum", 0)
        #grants_total_sum = income_detail_dict.get("contracts94", {}).get("totalSum", 0)
        #fed_subsidies_total_sum = income_detail_dict.get("contracts223", {}).get("totalSum", 0)

        # Возвращение суммы totalSum типа float
        return float(grants_total_sum) + float(fed_subsidies_total_sum)
    except:
        return 0

# Применение функции calculate_total_sum к столбцу incomeDetail
df["totalSumGrants"] = df["incomeDetail"].apply(calculate_total_sum_Grant)

# Функция для вычисления суммы totalSum для "grants" и "fedSubsidies"
def calculate_total_sum_Contract(json_string):
    try:
        # Преобразование JSON-строки в словарь
        #income_detail_dict = json.loads(json_string)
        income_detail_dict = eval(json_string)

        # Получение значений totalSum для "grants" и "fedSubsidies"        
        grants_total_sum = income_detail_dict.get("contracts94", {}).get("totalSum", 0)
        fed_subsidies_total_sum = income_detail_dict.get("contracts223", {}).get("totalSum", 0)
        contracts44_total_sum = income_detail_dict.get("contracts44", {}).get("totalSum", 0)

        # Возвращение суммы totalSum типа float
        return float(grants_total_sum) + float(fed_subsidies_total_sum) + float(contracts44_total_sum)
    except:
        return 0

# Применение функции calculate_total_sum к столбцу incomeDetail
df["totalSumGContract"] = df["incomeDetail"].apply(calculate_total_sum_Contract)

#df['incomeDetail'].iloc[7]

# Фильтрация строк с totalSum > 0
filtered_df = df[(df["totalSumGrants"] > 0)|(df["totalSumGContract"] > 0)]

# Вывод результатов
filtered_df[['totalSumGrants','totalSumGContract','incomeTotal']]

        totalSumGrants  totalSumGContract  incomeTotal
7                  0.0        14770110.00  14770110.00
11                 0.0           15000.00     15000.00
91            270436.0               0.00    270436.00
100                0.0          164450.00    164450.00
105                0.0          159800.00    159800.00
...                ...                ...          ...
751965             0.0           82932.08     82932.08
751970             0.0        55296779.68  55296779.68
751990       4910000.0               0.00   4910000.00
751995             0.0            8288.42      8288.42
752027             0.0         4683771.78   4683771.78

[34742 rows x 3 columns]

In [106]:
# Фильтрация строк с totalSum > 0
filtered_df = df[(df["totalSumGrants"] > 0)&(df["totalSumGContract"] > 0)]

# Вывод результатов
filtered_df[['totalSumGrants','totalSumGContract','incomeTotal']]

        totalSumGrants  totalSumGContract  incomeTotal
713        10700000.00           536400.0  11236400.00
902        14624672.50         64501626.9  79126299.40
1199        1769957.00         16515910.0  18285867.00
1505         200000.00          1631800.0   1831800.00
1977        6777000.00          1750000.0   8527000.00
...                ...                ...          ...
750569     11247100.00         11313000.0  22560100.00
750594     21252718.00           104400.0  21357118.00
750738      2467100.00            78545.0   2545645.00
750810     10014094.78           500375.0  10514469.78
751717     14878426.00          1449000.0  16327426.00

[2900 rows x 3 columns]

In [107]:
# Фильтрация строк с totalSum > 0
filtered_df = df[(df["totalSumGrants"] > 0)]

# Вывод результатов
filtered_df[['totalSumGrants','totalSumGContract','incomeTotal']]

        totalSumGrants  totalSumGContract  incomeTotal
91           270436.00                0.0    270436.00
171         5780224.00                0.0   5780224.00
212          498404.00                0.0    498404.00
489         2000000.00                0.0   2000000.00
657         2625630.00                0.0   2625630.00
...                ...                ...          ...
751595     86822382.83                0.0  86822382.83
751717     14878426.00          1449000.0  16327426.00
751856      5299993.50                0.0   5299993.50
751950       650000.00                0.0    650000.00
751990      4910000.00                0.0   4910000.00

[13708 rows x 3 columns]

In [89]:
df_full['incomeTotal'].iloc[7]

14770110.0

Перечень столбцов/признаков, значение которых объективно не могут влияют на поставленную задачу, на целевой признак:
1. chiefs: руководители организации (не будем рассматривать вариант влияния субъекта на целевой признак, иными словами коррупцию) 
2. address: юридический адрес (регион можно определить с отдельного признака)
3. email: email организации
4. fullName: полное наименование организации
5. shortName: сокращенное наименование организации
6. inn
7. kpp
8. regionName: название региона организации

пока подумать
9. okato: сведения об ОКАТО (отсутствие данных в более половины строк; административно-территориальное деление не должно влиять на целевой признак)
10. oktmo: сведения об ОКТМО (отсутствие данных в более половины строк; административно-территориальное деление не должно влиять на целевой признак)

In [56]:
#Удаление столбцов/признаков, значение которых объективно не могут влияют на поставленную задачу, на целевой признак
df_full = df_full.drop(['chiefs', 'address', 'email', 'fullName', 'shortName', 'inn', 'kpp', 'regionName'], axis=1)
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752072 entries, 0 to 752071
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   addOkved            752072 non-null  object
 1   dateLiquid          406460 non-null  object
 2   dateOgrn            752072 non-null  object
 3   dateReg             321581 non-null  object
 4   mainOkved           752072 non-null  object
 5   ogrn                752072 non-null  int64
 6   opf                 752072 non-null  object
 7   predecessors        752072 non-null  object
 8   statusInfo          752072 non-null  object
 9   successors          752072 non-null  object
 10  egrulStatus         752072 non-null  object
 11  statusDetail        752072 non-null  object
 12  foundersConfig      271348 non-null  object
 13  regionCode          752072 non-null  int64
 14  originDate          752072 non-null  object
 15  minjustForm         465075 non-null  object
 16  minjustStatus       466577 non-null  object
 17  minjustRegNum       466323 non-null  object
 18  okpo                345378 non-null  float64
 19  hasRegionalSupport  0 non-null       float64
 20  website             5287 non-null    object
 21  website_punycode    5287 non-null    object
 22  okato               752072 non-null  object
 23  okfs                752072 non-null  object
 24  okogu               752072 non-null  object
 25  oktmo               752072 non-null  object
 26  socialMedia         752072 non-null  object
 27  opfType             752072 non-null  object
 28  reports             752072 non-null  object
 29  incomeTotal         752072 non-null  float64
 30  incomeDetail        752072 non-null  object
 31  incomeRank          752072 non-null  object
dtypes: float64(3), int64(2), object(27)
memory usage: 183.6+ MB

Обработка кодов:
1. addOkved: дополнительный ОКВЭД - наличие дополнительных ОКВЭД: 1 - есть, 0 - нет
2. okato: сведения об ОКАТО

In [90]:
#Обработка addOkved (дополнительный ОКВЭД): наличие дополнительных ОКВЭД: 1 - есть, 0 - нет

# Функция для извлечения значений 'code' из списка словарей признака 'addOkved'
def addOkved_def(addOkved_arg):
    #аргумент: значение 'addOkved', представляет собой список, 
    #                                элементы которого словари; 
    #                                у каждого словаря есть ключи: code, name, version.
    #return: 1 - список не пустой (есть доп. ОКВЭД), 0 - список пустой (нет доп. ОКВЭД)
    addOkved_list = ast.literal_eval(addOkved_arg)
    if len(addOkved_list) > 0:
        return 1
    else:
        return 0
    
#Обработка addOkved (дополнительный ОКВЭД)
df_full['addOkved'] = df_full['addOkved'].apply(addOkved_def)

df_full['addOkved']

0         1
1         1
2         0
3         0
4         0
         ..
752067    1
752068    1
752069    0
752070    1
752071    1
Name: addOkved, Length: 752072, dtype: int64

In [84]:
import ast

df = df_full.copy()

# Функция для извлечения значений 'code' из списка словарей
#def extract_code(row):
#    my_list = ast.literal_eval(row)
#    if isinstance(my_list, list):        
#        return [d.get('code') for d in my_list]
#    else:
#        return []
#def get_first_code(lst):
#    my_list = ast.literal_eval(lst)
#    if len(my_list) > 0:
#        return my_list[0]['code']
#    else:
#        return 0


# Применение функции к столбцу 'addOkved' для создания нового столбца 'codes'
df['addOkved'] = df['addOkved'].apply(get_first_code)

# Добавление нового столбца 'code_count' с количеством элементов в списке 'codes'
#df['code_count'] = df['codes'].apply(len)

df['addOkved']

0            72.4
1         67.20.2
2               0
3               0
4               0
           ...
752067       18.1
752068      70.22
752069          0
752070      64.99
752071      58.11
Name: addOkved, Length: 752072, dtype: object

In [90]:
import json

df = df_full.copy()

# Удаление апострофов из значений в столбце 'okato'
df['okfs'] = df['okfs'].str.replace("'", '')

# Удаление первых символов
df['okfs'] = df['okfs'].str[7:]

# Удаление всех символов после запятой включительно
df['okfs'] = df['okfs'].str.split(',', expand=True)[0]

# Удаление апострофов из значений в столбце 'okato'
df['dateLiquid'] = df['dateLiquid'].str.replace("'", '')

# Удаление первых символов
df['dateLiquid'] = df['dateLiquid'].str[8:]

# Удаление всех символов после запятой включительно
df['dateLiquid'] = df['dateLiquid'].str.split('-', expand=True)[0]

dt_list = ['2015','2016','2017','2018','2019','2020','2021','2022','2023']
dt_list_1 = [2015,2016,2017,2018,2019,2020,2021,2022,2023]

# Вывод DataFrame
#df[(df['okfs'] == 'None')][['okfs','dateLiquid']]
#df[(df['okfs'] == 'None') & (df['dateLiquid'].str.len() == 4)][['okfs','dateLiquid']]
df[(df['okfs'] == 'None') & (df['dateLiquid'].isin(dt_list))][['okfs','dateLiquid','ogrn','incomeTotal']]

        okfs dateLiquid           ogrn  incomeTotal
7       None       2017  1037715068566   14770110.0
10      None       2017  1083700000119          0.0
16      None       2017  1037739377279          0.0
18      None       2016  1067760430099          0.0
22      None       2016  1083500002013          0.0
...      ...        ...            ...          ...
752061  None       2015  1136800000160          0.0
752062  None       2017  1132100000185          0.0
752063  None       2018  1135900000070          0.0
752066  None       2018  1137600000350          0.0
752068  None       2018  1133000000165          0.0

[127764 rows x 4 columns]